/* Style Constants Here */
/* Do not initial something like set padding or margin to 0 */
html {
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
}

input {
  @apply inline-flex justify-start items-center py-1 pl-1
  border-2 rounded border-slate-300 dark:border-cyan-700
  focus:border-green-400 dark:focus:border-cyan-500
  bg-slate-100 dark:bg-slate-700 focus:bg-blue-50 dark:focus:bg-slate-600
  ring-0 focus:ring-1 ring-green-400 dark:ring-cyan-500
  transition-all ease-in-out duration-200 outline-none;
}

button[type="button"],
button[type="submit"] {
  @apply inline-flex justify-center items-center px-2 py-1
  border-2 rounded border-green-300 dark:border-green-600
  focus:border-green-400 dark:focus:border-green-500
  transition-all ease-in-out duration-200 outline-none;
}

a[href^="#/"] {
  @apply w-fit inline-flex justify-center items-center
  text-base underline underline-offset-2;
}
a.router-link-exact-active {
  @apply text-green-400 dark:text-green-500;
}
